/* Body styling */
body {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  margin: 0; /* Remove default body margin */
}

/* Navigation bar styling */
nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #003333;
}

/* Sections styling */
section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #999999;
}

#welcome {
  background-color: #fff;
  color: #000;
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between profile and content */
  align-items: center; /* Center vertically */
}

#profile img {
  max-width: 100%;
  height: auto;
  order: 2; /* Move the image to the right */
}

#welcome-content {
  width: 60%; /* Adjust the content width */
}

#contact {
  background-color: #fff;
  color: #000;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items horizontally */
}

#contact-form {
  width: 50%; /* Adjust the form width */
  max-width: 400px; /* Set a maximum width */
}

label {
  display: block;
  margin-bottom: 5px;
  color: #669999;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #003333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #006666;
}

/* Footer styling */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

#social-links a {
  color: #ff3333;
  margin: 0 10px;
  text-decoration: none;
}

#email-link a {
  color: #669999;
  text-decoration: none;
}
